name: Generate SVG with Action

on:
  workflow_dispatch: {}
  workflow_run:
    workflows: ['Lint, Test, Build']
    types: [completed]

jobs:
  generate:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Generate SVG with Action
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate SVG
        uses: bvandercar-vt/github-repository-contribution-stats/action@main
        env:
          GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_API_TOKEN }}
        with:
          username: bvandercar-vt
          output-file: action/src/__fixtures__/generated-image.svg
          theme: merko
          combine-all-yearly-contributions: true
          columns: commits,pull_requests,contribution_rank
          exclude: bvandercar-vt/*
          bg-color: 00000000
          order-by: contributions

      - name: Commit Generated SVG
        uses: actions4git/add-commit-push@v1
        with:
          commit-message: 'automatic: update generated svg [ci skip]'
